h1, p, input {
    font-family: 'Lato', sans-serif;
} 

#SpeechContainer{
    margin: 20px;
}

#submitButton{
    background-color: #0191FE;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover{
    cursor: pointer;
}

#SpeechTranscriptContainer{
    margin-top: 20px;
}

#SpeechText{
    font-size: 18px;
    width: 500px;
}